<!DOCTYPE html>
<html lang="en">
  <head>
        <title>{{ title }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <style>
            body {
              background-image: url('https://i.pinimg.com/originals/f3/07/a5/f307a58beeb9f5362404f65a4b88ad23.jpg');
            }
            </style>
     <style>
      .btn-group button {
        background-color: #238ecc; /* Green background */
        border: 1px solid rgb(74, 17, 167); /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        margin-left: 20px;
      }
      
      /* Clear floats (clearfix hack) */
      .btn-group:after {
        content: "";
        clear: both;
        display: table;
      }
      
      .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
      
      /* Add a background color on hover */
      .btn-group button:hover {
        background-color: #3e8e41;
      }
      </style>   
    <div class="btn-group">
    <form>
        <button type="submit" style="font-weight: bold;" formaction="http://localhost:5000/">Home</button>
        <button type="submit" style="font-weight: bold;" formaction="http://localhost:5000/admin">Reset</button>
      </form>
    </div>
    <br> 
    <br>
    <h1 style="text-align: center; margin: 0px; color: black">
        <b>Help us Identify Monument Architecture!</b>
      </h1>
      <br />
      <br>
    
    <div style="
        width: 350px;
        height: 50rem;
        margin: 0px auto;
        color: black;
        border-radius: 25px; 
        padding: 10px 10px;
        font-weight: bold;
      "> 
    
    <!-- <div>
     File upload form 
      <form method="post" action="/upload" enctype="multipart/form-data" class="form-inline">
       <div class="form-group">
                         <label>Choose Images: </label>
                         <input type="file" name="files[]" id="fileInput" class="form-control" multiple >
                    </div>
                    <input type="submit" name="submit" class="btn btn-success" value="UPLOAD"/>
                </form>
     </div> -->
      
    
    
      <!-- <form class="form-signin" method="post" action =" " enctype=multipart/form-data> -->
    
        <!-- <h2 class="h4 mb-3 font-weight-normal"><b>Please Upload an Image:</b></h2>
        <input type="file" name="file" class="form-control-file" id="file" accept="image/x-png,image/gif,image/jpeg, image/jpg" onchange="preview_image(event)" style="font-weight: bold;">
        <br>
        <br>
        <img id="output-image" class="rounded mx-auto d-block" />
        <br> -->
        <form method="post" action="/upload" enctype="multipart/form-data" class="form-inline">
          <div class="form-group">
                            <label>Choose Images: </label>
                            <input type="file" name="files[]" id="fileInput" class="form-control" multiple accept="image/x-png,image/gif,image/jpeg, image/jpg" >
                       </div>
          
                     <!-- <input type="submit" name="submit" class="btn btn-success" value="UPLOAD"/> -->
        <br/>
        <br/>
        <br/>
        <label for="Architecture">Select Architecture for Images:</label>

        <select name="Architecture" id="Architecture">
        <!-- <option value="">--Please choose an option--</option> -->
        <option value="Ancient">Ancient</option>
        <option value="British">British</option>
        <option value="IndoIslamic">IndoIslamic</option>
        <option value="Maratha">Maratha</option>
        <option value="Sikh">Sikh</option>
        <option value="None">Not a monument</option>
        </select>
        <button type="submit" style="font-weight: bold;" formaction="http://localhost:5000/admin">Submit</button> <!--- Save this info to database-->
      </form>
     <br>
     
     <br/>
      <br/>
      <h3> Upload new architecture folder: </h3>
     <form action="#" method="post" enctype="multipart/form-data"> 
      Type Folder Name:<input type="text" name="foldername" /><br/><br/>
      Select Folder to Upload: <input type="file" name="files[]" id="files" multiple directory="" webkitdirectory="" moxdirectory="" /><br/><br/> 
      <input type="Submit" value="Upload" name="upload" formaction="http://localhost:5000/folder"/>
      </form>
    </div>
    <!-- <h3> Dataset for different Monument Architectures: </h3> -->
    <div class="w3-container" style = "margin :0px auto">
      
          
      <form method="post">
<!--         <div class="w3-show-inline-block">
          <div class="w3-bar">
        <button type="submit" class="w3-btn w3-teal" button style="font-weight: bold;" formaction="http://localhost:5000/ancient">Ancient</button>
        <button type="submit" class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/british">British</button>
        <button type="submit" class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/indo">IndoIslamic</button>
      </div>
    </div>
    <div class="w3-show-inline-block">
      <div class="w3-bar">
        <button type="submit" class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/maratha">Maratha</button>
        <button type="submit" class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/notmonument">Not a Monument</button>
        <button type="submit"  class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/sikh">Sikh</button>
      </div>
      
    </div> -->
    <div class="w3-show-inline-block">
    <div class="w3-bar">
    {% for archs in architectures %}
    <!-- <button type="submit" class="w3-btn w3-teal" style="font-weight: bold;" formaction="http://localhost:5000/dataset">{{archs}}</button> -->
    <input type="submit" name="submit_button" value="{{archs}}" formaction="http://localhost:5000/dataset" class="w3-btn w3-teal" style="font-weight: bold;"/> 
    {% endfor %}
      </form>
    </div>
    
   
    <script>
      $(document).ready(function(){
       // File type validation
          $("#fileInput").change(function(){
              var fileLength = this.files.length;
              var match= ["image/jpeg","image/png","image/jpg","image/gif"];
              var i;
              for(i = 0; i < fileLength; i++){ 
                  var file = this.files[i];
                  var imagefile = file.type;
                  if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                      alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                      $("#fileInput").val('');
                      return false;
                  }
              }
          });
      });
      </script>


    <!-- <script type="text/javascript">
      function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
          var output = document.getElementById('output-image')
          output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
      }
    </script> -->
    
    
    {% if message %}
    <p class="message"><strong>Error:</strong> {{ message }}
  {% endif %}
    
  </body>
  </html>
